@import "fonts";

*{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  box-sizing: border-box;
}

*::after,*::before{
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

body{
  font-size: 14px;
  color: #131313;
  min-width: 100%;
  font-family: Montserrat;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container{
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

/* !header */

.header{
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 50;
  background-color: #84A178;
  &__container{
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.header__button {
  position: relative;
  z-index: 5;
  display: flex;
  flex: 0 0 36px;
  border-radius: 3px;
  justify-content: end;
}

/*menu-close or open btn*/

.icon-menu,
.close-icon-menu{
  position: relative;
  z-index: 6;
  flex: 0 0 24px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.icon-menu:after,
.icon-menu::before{
  content: "";
  background-color: #fff;
  height: 2px;
}

.icon-menu span {
  background-color: #fff;
  height: 2px;
}

.close-icon-menu{
  display: none;
  height: 32px;
  margin-bottom: 5px;
}

    
.header:target .icon-menu{
  display: none;
}

.header:target .close-icon-menu{
  display: flex;
}

/*menu-close or open btn*/

.menu{
  &__body{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $main-background-color;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item{
    margin-bottom: 32px;
    &:last-child{
      margin: 0;
    }
  }

  &__link{
    font-size: 32px;
    font-weight: 700;
    color: #fcfcfc;
  }

  &__btn{
    margin-top: 123px;
  }

  &__btn-link{
    padding: 12px 34px;
    background-color: $buttons-color;
    border-radius: 10px;
    font-weight: 900;
  }

}

.header:target .menu__body{
  left: 0;
}

.header:target .header__logo{
  position: relative;
  z-index: 60;
}

/* !header */
.main{
  flex: 1 1 auto;
}

/*cream-made*/

.cream-made{
  background-color: $main-background-color;
  &__container{
    padding: 60px 15px;
    color: #fcfcfc;
 
  }

  &__ice-cream-block{
    display: flex;
    margin: 0 auto;
  }

}

.main-block{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  &__title{
    font-size: 26px;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    font-family: $logo__font;
    margin-bottom: 30px;
    >span{
      line-height: 96.5%;
      font-size: 34px;
    }
  }

  &__btn{
    display: flex;
    gap: 0 8px;
    padding: 0 0 32px 0;
  }
}

.default-btn{
  padding: 12px 34px;
  background-color: $buttons-color;
  border-radius: 10px;
  font-weight: 900;
  color: #131313;
}

.btn__link{
  padding: 10px 12px;
  font-size: 14px;
}

.products-btn__link{
  font-weight: 900;
  border-radius: 10px;
  border: 4px solid $buttons-color;
}

.made-btn__link{
  padding: 12px;
  text-decoration: underline;
  color: $buttons-color;
}
/*cream-made*/

/*natural-products*/

.natural-products{
  background: url(/img/main/mobile-backgorund.png);
  &__container{
    display: flex;
    flex-direction: column;
    padding: 60px 15px;
  }

  &__title{
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 150px;
    >span{
      font-family: Seymour One;
      font-size: 30px;
      letter-spacing: 1.2px;
      font-weight: 400;
    }
  }
  &__row-column{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 160px 0;
    &:last-child{
      margin: 0;
    }
  }

}

.block-item{
  position: relative;
  min-height: 420px;
  width: 100%;
  border-radius: 15.781px;
  box-shadow: 0px 5.26027px 19.72603px 0px rgba(212, 20, 67, 0.10);
  &__background{
    position: absolute;
    top: -110px;
    left: 40px;
    >img{
      z-index: 6;
      border-radius: 100px;
    }
  }
  
  &__block-text{
    display: flex;
    flex-direction: column;  
    align-items: center;
    margin-top: 120px;
    margin-bottom: 90px;
  }

  &__title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.8px;
  }

  &__text{
    text-align: center;
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.56px;
    padding: 40px;
  }

  &__btn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

}

.top-block{
  background: #AEC6A5;
}

.middle-block{
  background-color: #EFD478;
}

.low-block{
  background-color: #D6936D;
}

/*natural-products*/

.organic-products{
  background-color: #84A178;
  &__container{
    color: #fcfcfc;
    padding: 60px 15px;
  }

  &__title{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1.2px;
  }

  &__subtitle{
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: Seymour One;
    text-align: center;
    margin-bottom: 53px;
  }

}
/*main-block*/
.main-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__block-image{
    margin-bottom: 40px;
  }
  &__image{
    border-radius: 1000px;
  }

  &__block-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;    
    >p{
      text-align: center;
      margin-bottom: 4px;
      padding: 0 15px;
      font-size: 12px;
      letter-spacing: .5px;
      line-height: 176%;
      &:last-child{
        margin: 0;
      }
    }
  }
}
/*main-block*/

.consist-block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px 0;
  &__item{
   display: flex;
   align-items: center;
   flex-direction: column;
  }

  &__icon{
    margin-bottom: 16px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #F8D24E;
  }

  &__block-text{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__title{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.44px;
    margin-bottom: 18px;
  }

  &__text{
    line-height: 170%;
    font-weight: 700;
  }

}
/*popup*/
.popup{
  position: fixed;
  z-index: 6;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 2px solid #F8D24E;
  left: -100%;
  overflow: scroll;
  transition: .5s;
  &:target{
    left: 0;
  }

  &__container{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__register{
    margin: 28px 0;
  }

  &__close-button{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &__close-button_link{
    margin-top: 14px;
    margin-right: 14px;
    width: 16px;
    height: 16px;
  }

  &__title{
    margin-top: 8px;
    margin-bottom: 84px;
    display: flex;
    font-size: 24px;
    line-height: 24px;
    font-family: Seymour One;
    justify-content: center;
  }

  &__subtitle{
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .64px;
    margin: 95px 8px 20px 8px;
    font-weight: 700;
    max-width: 130px;
  }

  &__ice-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 83px 0;
  }
}

.ice-block__popup-block-item{
  min-height: 140px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 5.26027px 19.72603px 0px rgba(212, 20, 67, 0.10);
}

.popup_block-image{
  position: absolute;
  top: -60px;
  left: 5px;
  >img{
    z-index: 6;
    border-radius: 100px;
  }
}

.popup_ice-cream{
  border: 2px solid #84A178;
}

.popup_ice-coffee{
  border: 2px solid #EFD478;
  background-color: #EFD478;
}

.popup_milkshakes{
  border: 2px solid #D6936D;
}

.regist-block{
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  &__input{
    border-radius: 10px;
    border: 1px solid #84A178;
    background: rgba(248, 210, 78, 0.10);
    padding: 8px 12px;
  }

  &__textarea{
    border-radius: 10px;
    border: 1px solid #84A178;
    background: rgba(248, 210, 78, 0.10);
    padding: 8px 12px;
  }

  &__button{
    display: flex;
    border-radius: 10px;
    background: #F8D24E;
    font-weight: 600;
    justify-content: center;
    padding: 12px 34px;
  }

}

/*popup*/

/*made-video-page*/
.made-video-page{
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 2px solid #F8D24E;
  left: -100%;
  overflow: scroll;
  transition: .5s;

  &:target{
    left: 0;
  }

  &__container{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title{
    margin-top: 28px;
    margin-bottom: 28px;
    color: #131313;
    font-family: Seymour One;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
  }

  &__video{
    margin-bottom: 20px;
    iframe{
      width: 224px;
      height: 199px;
      border-radius: 10%;
      overflow: scroll;
    }
  }

}
/*made-video-page*/


.clients-block{
  background: url(/img/main/background-client-block.png);
  background-repeat: no-repeat;
  background-position: top, bottom;
  &__container{
    position: relative;
    padding: 60px 15px;
  }

  &__comment{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}

.comment-title-image{
  position: absolute;
  top: -25px;
  >img{
    border-radius: 8px;
  }
}

.comment-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 135px;
  &__sub-image{
    margin-bottom: 32px;
    >img{
      border-radius: 50%;
    }
  }

  &__text{
    text-align: center;
    padding: 39px;
    background-color: #84A178;
    border-radius: 10px;
    color: #fcfcfc;
    line-height: 255%;
  }

  &__person-location{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px 0;
    margin-top: 35px;
    margin-bottom: 400px;
  }

}

.person-location{
  display: flex;
}


.work-time{
  background-color: #84A178;
  &__container{
    position: relative;
    padding: 60px 15px;
  }

  &__schedule-block{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    margin-bottom: 32px;
  }

  &__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px 0;
  }
}

.work-time-button__link{
  padding: 12px 34px;
  display: flex;
  align-items: center;
  gap: 0 5px;
  font-weight: 800;
  border-radius: 10px;
}

.location-button{
  background-color: #F8D24E;
}

.franchise-button{
  padding: 12px 46px;
  border: 2px solid #F8D24E;
}

.first-cafe{
  position: absolute;
  top: -370px;
  right: 30px;
  transform: translate(5%);
}

.food-truck{
  margin-top: 30px;
}

.schedule__item{
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background: #FCFCFC;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
  padding: 0 36px;
}

.schedule-item{
  &__title{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 80px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #F8D24E;
    border-radius: 4px;
  }

  &__inner-block{
    display: flex;
    flex-direction: column;
  }

}

.inner-block{
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  line-height: 186%;
  &:last-child{
    margin: 0;
  }

  span{
    color: #131313;
  }

  &__text, &__subtext{
    color: #ABABAB;
  }

}

.extra-color{
  >span{
  color: #D6936D;
  }
}

.social-network{
  background-color: #84A178;
  &__container{
    padding: 60px 15px;
    color: #FCFCFC;
    font-weight: 700;
    text-transform: uppercase;

  }

  &__title{
    max-width: 232px;
    font-size: 18px;
    margin-bottom: 16px;
  }

  &__short-title{
   max-width: 220px;
   font-size: 34px;
   letter-spacing: 1.36px;
   margin-bottom: 42px;
  }

  &__contact-number{
    display: flex;
    justify-content: end;
    text-transform: none;
    font-size: 12px;
    span{
      text-transform: none;
      color: #131313;
    }
  }

}

.contacts{
  &__row{
    display: flex;
    gap: 0 27px;
    justify-content: end;
    margin-bottom: 38px;
  }
}

.footer{
  background-color: #84A178;
  border-top: 1px solid #FCFCFC;
  &__container{
    padding: 30px 15px;
  }
}

.made-year{
  display: flex;
  justify-content: center;
  line-height: 152%;
  text-align: center;
  font-weight: 900;
  color: #7A7A7A;
}